<style>
        h1 {
            width: 65px;
            color: orange;


        }

        ul {
            background-color: aqua;

        }

        .cor-dif {
            background-color: blue;
        }
        


</style>