* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
  }

#form {
    border: solid 2px black;
    width:max-content;
    height:max-content;
    margin:auto;
    padding: 10px 10px 5px 10px;
}

#text-name, #text-email {
    margin: 10px 0 0 10px;
}

.labels{
    margin-left: 10px;
    display: block;
}

#div-options {
    margin: 10px 0 10px 5px;
}

#text-respost {
    display: block;
    margin-top: 5px;
}

#input-date {
    margin: 10px 0 10px 0;
}

#btn-send, #btn-reset {
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 2px;
}

body {
    background-color: whitesmoke;
}

form {
    background-color: white;
    padding: 10px;
}

#check {
    display: inline;
}





